* {
  padding: 0;
  margin: 0;
}
BODY {
  height:100%;
  user-select:none;
  -moz-user-select:none;
}
#header {
  left:0px;
  top:0px;
  height:38px;
  overflow:hidden;
  background-image: -moz-linear-gradient(bottom right, rgb(203,104,49), rgb(216,142,64));
  border-bottom: 1px solid rgba(0, 0, 0, 0.57);
  font-family:"Lucida Grande",Tahoma,sans-serif;
  width:100%
}
#testbuttons {
  margin: 4px;
}
#signin {
  margin-left:6px;
  margin-top:6px;
}
#signin a {
  float:right;
  padding-right:6px;
}
#useridbox {
  font-size:10px;
  left:0px;
  top:4px;
  position:absolute;
  height:26px;
  width:150px;
  margin-left:6px;
  margin-top:2px;
  color:black;
}
#userid {
  font-weight:bold;
}
#usericon {
  width:32px;
  height:32px;
}
#usericonbox {
  float:right;
  width:32px;
  height:32px;
  padding-top:2px;
  padding-right:4px;
}
#usernotifbox {
  float:right;
  width:32px;
  height:32px;
  padding-top:2px;
  padding-right:4px;
}
#content {
  padding-top:4px;
  margin: 3px;
  background-color: white;
}
